html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: white;
}

header,
footer {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    height: 90px;
    margin: 0px auto;
}

ul {
    list-style: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container {
    background: url('./assets/img/bg.png');
    background-repeat: no-repeat;
    background-position: center 0;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0;
}

.main-container {
    width: 1440px;
}

.hero-section {
    background-image: url('./assets/img/bg.png');
    background-position: center -90px;
    background-repeat: no-repeat;
    padding-top: 20px;
    height: 910px;
}

.logo {
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
    justify-content: left;
    width: 50px;
    height: 50px;
    align-items: center;
    margin:0;
    padding: 0;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
}

.nav-list {
    width: 500px;
    height: 50px;
    align-items: center;
    margin-left: auto;
    padding-left: 30px;

}

.nav {
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    color:#FFFFFF;
    text-decoration: none;
    transition: 0.3s;
}

.nav:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
}

.h1-section-title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 700 bold;
    font-size: 40px;
    line-height: 80px;
    text-align: left;
    padding: 0;
    margin: 0;

}

.section-title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 700 bold;
    font-size: 40px;
    line-height: 80px;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #bdae82;
    height: 80px;
    width: 50%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

.title-text {
    background-color: black;
}

.hero-info {
    width: 500px;
    height: 330px;
    display: flex;
    margin-top: 160px;
    margin-left: 80px;
    flex-direction: column;
    height: 1440px;
}

.hero-text {
    justify-content: flex-start;
    height: 120px;
    width: 470px;
    padding-top: 10px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 40px;
}

.botton {
    height: 55px;
    width: 220px;
    border: 0;
    background-color: #bdae82;
    cursor: pointer;
    font-family: "Inter";
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: black;
}

.skills-section {
    width: 1440px;
    height: 482px;
    top: 910px;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.skills-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: row wrap;
    background-position: center top;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 53px;
}

.skill-items {
    background-position: center top;
    width: 320px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-bottom: 2px;
}

.skill-icon {
    height: 50px;
    width: auto;
}

.card-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: white;
    height: 40px;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 50px;
}

.card-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 8px;
}

.portfolio-section {
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.video-section {
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.price-section {
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contacts-section {
    background: url('assets/img/contacts.jpg');
    width: auto;
    height: 700px;
    background-position: center center;
}

.contacts-container {
    width: 450px;
    height: 445px;
    display: flex;
    flex-direction: column;
    padding-bottom: 195px;
    padding-top: 0px;
    margin-right: 20px;
    margin-left: auto;
}

.contact-item{
    height: 445px;
    height: 50px;
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    margin-bottom: 20px;
    background: transparent;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.contact-item.textarea {
    height: 100px;
    margin-bottom: 30px;
    padding-bottom: 55px;
}

.contact-botton{
    height: 55px;
    width: 220px;
    border: 0;
    background-color: #bdae82;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: black;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 7px;
}

.contacts-title {
    height: 80px;
    font-family: "Merriweather";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    margin-bottom: 40px;
    margin-top: 60px;
}

.contact-item::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}

.portfolio.section-title {
    margin-top: 100px;
}

.portfolio.bottons-container {
    width: 895px;
    height: 55px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color:black;
}

.portfolio-botton {
    height: 55px;
    width: 220px;
    transition: 0.3s;
    border: 2px solid #bdae82;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #bdae82;
    display: flex;
    align-items: center;
    justify-content: center;

}

.portfolio-botton:hover {
    color: black;
    background-color: #bdae82;
}

.picture-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 25px;
    width: 1400px;
    height: 1145px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
}

.video-container {
    padding: 0;
    margin: 0;
    top: 2982px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.video.section-title {
    align-self: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.video-player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/img/video-player.jpg');
    height: 705px;
    width: 1400px;
    margin-left: 20px;
    margin-right: 20px;
}

.price-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-right: 20px;
    margin-left: 20px;
    height: 505px;
    width: 1400px;
    padding-bottom: 100px;
}

.price-item {
    border: 3px solid #bdae82;
    width: 450px;
    height: 505px;
    top: 240px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
}

.price-type {
    color: #FFFFFF;
    font-family: "Merriweather";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    margin-top: 43px;
    padding: 0;
}

.cost {
    height: 48px;
    top: 119px;
    padding-bottom: 20px;
    font-family: "Merriweather";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    color: #BDAE82;
}

.description {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 180px;
    top: 187px;
    gap: 0;
}

.description-line {
    display: block;
    height: 36px;
    top: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}

.order-botton {
    height: 55px;
    width: 220px;
    border: 0;
    background-color: #bdae82;
    cursor: pointer;
    font-family: Inter;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-top: 8px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #bdae82;
  transition: background-color 0s ease-in-out 9000s;
}

.footer-container {
    height: 50px;
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
}

.footer-data {
    width: 182px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 13px;
    justify-self: flex-start;
}

.footer-text {
    color:#FFFFFF;
    text-decoration: none;
    transition: 0.3s;
}

.github:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
}

.rss {
    width: 400px;
}

.rss:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
}

.link {
    width: 188px;
}

.social-list:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
}
